.wrapper {
    text-align: center;
    display: flex;
    align-items: center;
}

.whiteboard canvas {
    border: black solid 2px;
}

.pallette {
    width: 15vw;
    height: 98vh;
    border: black solid 2px;
    margin: 0;
}