body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

button:hover {
    cursor: pointer;
}

.header {
    display: flex;
    width: 100%;
    height: 4vh;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(150, 150, 150);
    background-color: rgb(208, 238, 242);
}

.header h1 {
    margin-left: 10px;
}

.header div {
    display: flex;
}

.header div button {
    margin: 0 10px;
}

.wrapper {
    text-align: center;
    display: flex;
    height: 96vh;
}

.whiteboard canvas {
    width: 95vw;
    height: 96vh;
}

.pencil-cursor:hover {
    cursor: url("./pencil2_cursor.cur"), auto;;
}

.erase-cursor:hover {
    cursor: url("./eraser_cursor.cur"), auto;
}

.pallette {
    width: 5vw;
    margin: 0;
    border-right: 1px solid rgb(150, 150, 150);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pallette input,button {
    width: 3vw;
    margin-top: 10px;
}